.weather {
    font-family: Arial, sans-serif;
    color: black;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.077);
    backdrop-filter: blur(4px);
}
.weather h1 {
    color: black;
    font-size: 30px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
}
.weather li {
    font-size: 14px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}
.weather ul {
    margin: 0;
    padding: 0;
}
.weather .temperature {
    font-weight: 400;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: black;
}
.weather canvas {
   margin: 10px auto;
}
.weather .unit {
    font-size: 14px;
    font-weight: 400;
    padding-right: 80px;
}
a {
    color: black; 
}
a:hover {
    color: white;
}
